[
  (
    entity: 0,
    components: [
      {
        "type": "serialize::ComponentB",
        "struct": {
          "value": {
            "type": "alloc::string::String",
            "value": "hello",
          },
        },
      },
      {
        "type": "serialize::ComponentA",
        "struct": {
          "x": {
            "type": "f32",
            "value": 100.0,
          },
          "y": {
            "type": "f32",
            "value": 2.0,
          },
        },
      },
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (0.0, 0.0, 0.0),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
    ],
  ),
  (
    entity: 1,
    components: [
      {
        "type": "serialize::ComponentA",
        "struct": {
          "x": {
            "type": "f32",
            "value": 3.0,
          },
          "y": {
            "type": "f32",
            "value": 4.0,
          },
        },
      },
    ],
  ),
]